extends ../layout
  
block content 
    body
        h1(class = "grey") Login
        form(action="/login", method="post" )
            .form-group
                <label for="email">Email:</label>
                <input type="email" class="form-control" placeholder="Enter email" name = "email">
            .form-group 
                <label for="password">Password:</label>
                <input type="password" class="form-control" placeholder="Enter password" name = "password"> 
            .form-group
                input(type= "submit" class= "btn btn-info center" value = "Login")
            .form-group
                a(class = "account" href="./register") Register